<html>  
<head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>success</title>  
</head>  
<body class="bg-navigation">

    <div class="bg-nav d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">ANTIMICROBIAL STEWARDSHIP</h5>
        <h6>Login successful</h6>  
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-light" href="/#">Home</a>
          <a class="p-2 text-light" href="/profile">Profile</a>
          <a class="p-2 text-light" href="#">Settings</a>
        </nav>
        <a class="btn btn-outline-danger" href="/logout">Logout</a>
      </div>

      <center>
        <form action = "/success" method = "post" enctype="multipart/form-data">  
            <input type="file" name="file" />  
            <input type = "submit" value="Upload">  
        </form>  
    </center>
        

      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body bg-info">
                        <h2>Diseases</h2>
                    </div>

                </div>

            </div>
            <div class="col-md-4">
              <div class="card">
                  <div class="card-body bg-warning">
                      <h2>Symptoms</h2>
                      
                  </div>
              </div>
            </div>

          <div class="col-md-4">
              <div class="card">
                  <div class="card-body bg-danger">
                      <h2>Medicines Prescribed</h2>
                      
                  </div>

              </div>
                
          </div>

</body>  
</html>  